
<div class="login-page">
  <form action="login" method="POST">
    {{> form/input-field label="Email"}}
    {{> form/input-field label="Password" inputType="password"}}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button>Login</button>
  </form>
</div>
