@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  @apply flex flex-col bg-ms-light;
}

/** Utilities **/
.mrsmart-container {
  @apply px-5 md:px-10 lg:px-32;
}

.modal-wrapper {
  @apply fixed inset-0 overflow-y-auto flex  justify-center pt-32 bg-black/30 z-50;

  .modal {
    @apply bg-white p-10 min-w-[30%] h-max rounded-lg;
  }
}
.input-group {
  @apply flex flex-col gap-2;

  label {
    @apply text-primary uppercase font-semibold;
  }

  input {
    @apply border-0 border-b;
  }

  textarea {
    @apply border;
  }

  input,
  textarea {
    @apply text-ms-dark  focus:outline-none focus:border-2 focus:border-primary border-primary;
  }

  .error {
    @apply text-xs text-red-500;
  }

  &:not(:first-child) {
    @apply mt-5 md:mt-6;
  }
}

/** Alpinejs **/
[x-cloak] {
  display: none !important;
}
/** Alpinejs End**/
/** Utilities End **/
main.mrsmart-parent {
  @apply text-primary;
}

.notification-wrapper {
  @apply fixed top-20 z-30 flex min-h-[20px] w-full justify-center items-center;

  .notifications {
    @apply w-full  flex flex-col items-center gap-2;

    .alert {
      @apply rounded  min-w-[25%] flex flex-row-reverse items-center justify-between py-2 px-5 shadow-lg text-ms-dark bg-white;

      .close {
        @apply font-semibold text-4xl;
      }

      .message-icon {
        @apply flex flex-row-reverse items-center gap-2;
        svg {
          @apply h-6;
        }

        strong {
        }
      }
      &-success {
        @apply border-green-600 border-b-4;

        .message-icon {
          svg {
            @apply fill-green-600;
          }

          strong {
          }
        }
      }

      &-danger {
        @apply border-red-600 border-b-4;

        .message-icon {
          svg {
            @apply fill-red-600;
          }

          strong {
          }
        }
      }

      &-warning {
        @apply border-yellow-600 border-b-4;

        .message-icon {
          svg {
            @apply fill-yellow-600;
          }

          strong {
          }
        }
      }

      &-info {
        @apply border-blue-600 border-b-4;
        .message-icon {
          svg {
            @apply fill-blue-600;
          }

          strong {
          }
        }
      }
    }
  }
}
/** PAGES **/
.home-page {
  height: 100%;
}

.login-page {
  @apply flex flex-col justify-center items-center min-h-screen;
  form {
    @apply w-3/5 lg:w-2/5 bg-white p-10 shadow-xl rounded-md;

    button {
      @apply bg-primary text-white px-14 py-3 mt-5 rounded;
    }
  }
}

.not-found-page {
  @apply p-10 sm:p-20 min-h-[80vh] flex justify-center items-center flex-col;

  h1 {
    @apply text-5xl sm:text-7xl font-bold mb-5;
  }

  p {
    @apply text-2xl sm:text-5xl;
  }

  span {
    @apply mb-6 mt-4 text-red-500 font-semibold text-base;
  }
  a {
    @apply text-accent  border border-accent bg-white py-2 px-3 hover:bg-accent hover:text-white rounded;
  }
}

.messages-page {
  @apply flex bg-white flex-col overflow-hidden shadow-primary/10 shadow-xl sm:rounded-lg p-10;

  h1 {
    @apply font-bold;
  }

  hr {
    @apply bg-primary w-full my-3 h-1;
  }

  .messages {
    @apply flex flex-col;

    hr {
      @apply bg-primary w-full my-2 h-1;
    }

    .message,
    .message-header {
      @apply flex;

      .name {
        @apply w-1/5;
      }

      .email {
        @apply w-1/5;
      }

      .received {
        @apply w-1/5;
      }

      .content {
        @apply w-2/5;
      }
    }

    .message {
      @apply text-ms-dark bg-gray-50 cursor-pointer hover:bg-ms-light;

      &:not(:first-child) {
        @apply mt-1;
      }

      .content {
        @apply line-clamp-1;
      }
    }
  }
}

.view-message-wrapper {
  @apply absolute flex justify-center items-center top-0 left-0 z-50 bg-gray-700/30 w-full h-full;

  .view-message-modal {
    @apply min-w-[40%] flex flex-col px-7 pb-7 pt-5 bg-white rounded-lg shadow;

    header {
      @apply flex justify-between items-center;

      p {
        @apply text-primary font-bold text-xl;
      }

      span {
        @apply text-primary text-3xl cursor-pointer;
      }
    }

    .content {
      @apply p-1 rounded mt-2 shadow border-2 text-ms-dark border-accent;
    }
  }
}

.site-settings-page {
  @apply flex bg-white flex-col overflow-hidden shadow-primary/10 shadow-xl sm:rounded-lg p-10;

  h1 {
    @apply font-bold;
  }

  hr {
    @apply bg-primary w-full my-3 h-1;
  }

  .settings {
    @apply flex flex-col gap-10;

    .mono-settings {
      @apply grid grid-cols-4 gap-5;

      .setting {
        @apply flex flex-col gap-5;

        p {
          @apply shadow px-2 py-3;

          &.name {
            @apply font-semibold;
          }

          &.value {
            @apply text-gray-600;
            span {
              @apply relative cursor-pointer block  h-full w-full before:text-white before:py-1 before:px-2 before:shadow-sm before:translate-x-[-50%] before:hidden before:hover:block  before:left-[50%] before:absolute  before:hover:top-0 before:transition-all before:duration-200 before:bg-accent before:text-xs before:scale-0 before:hover:scale-100 before:content-[attr(data-field)];
            }
          }
        }
      }
    }

    .group-settings {
      @apply grid grid-cols-2 gap-5;
      .settings-group {
        @apply flex flex-col gap-5;

        h3 {
          @apply font-bold;
        }

        .setting {
          @apply flex gap-5;

          p {
            @apply w-1/2 shadow px-2 py-3;

            &.name {
              @apply font-semibold;
            }

            &.value {
              @apply text-ms-dark;

              span {
                @apply relative cursor-pointer block   h-full w-full before:text-white before:py-1 before:px-2 before:shadow-sm before:translate-x-[-50%] before:hidden before:hover:block  before:left-[50%] before:absolute  before:hover:top-0 before:transition-all before:duration-200 before:bg-accent before:text-xs before:scale-0 before:hover:scale-100 before:content-[attr(data-field)];
              }
            }
          }
        }
      }
    }
  }
}
/** PAGES END **/

/** NAVBAR **/
.navbar {
  @apply fixed top-0 left-0 z-50  bg-white shadow text-primary w-full py-3 flex justify-between items-center;

  a {
    img {
      @apply h-10;
    }
  }

  .mobile-nav {
    @apply absolute z-50 left-0 top-0 right-0 gap-2 bottom-0 min-h-screen bg-gray-900/80  flex flex-col justify-center items-center;

    img.mobile-nav-close {
      @apply h-10 cursor-pointer;
    }
    ul {
      @apply flex flex-col justify-center items-center flex-wrap gap-5 bg-primary/90 h-4/5 w-11/12 p-5 rounded-xl;

      li.nav-link {
        a {
          @apply text-white text-2xl uppercase;
        }
      }
    }

    .user-info {
      @apply flex gap-2 flex-col items-center pt-5 border-t border-white;
      a.user-name {
        @apply text-white;
      }

      form {
        button.btn-logout {
          @apply text-red-500 hover:bg-red-500 px-2 py-1 hover:text-white border border-red-500 rounded;
        }
      }
    }
  }
  nav {
    @apply absolute left-[50%] translate-x-[-50%];

    &.admin-nav {
      @apply static sm:absolute  sm:left-[50%] translate-x-0 sm:translate-x-[-50%];
    }

    img.mobile-nav-open {
      @apply h-10 sm:hidden;
    }
    ul {
      @apply hidden sm:flex gap-5;

      li.nav-link {
        a {
          @apply text-primary uppercase transition-all duration-150 hover:font-semibold;
        }
      }
    }
  }

  .call-number {
    @apply cursor-pointer p-2 lg:px-4 hover:bg-primary border-2 border-primary rounded-full transition-colors duration-200 delay-75 hover:shadow-accent/50 hover:shadow-md animate-pulse lg:animate-none;

    a {
      @apply hidden lg:block  text-primary;
    }

    img {
      @apply h-5 lg:h-0 lg:hidden;
    }
  }

  .user-info {
    @apply hidden sm:flex gap-5 items-center;
    a.user-name {
    }

    form {
      button.btn-logout {
        @apply text-red-500 hover:bg-red-500 px-2 py-1 hover:text-white border border-red-500 rounded;
      }
    }
  }
}
/** NAVBAR END **/

/** FOOTER **/
.footer {
  @apply bg-primary w-full py-14 mt-auto flex flex-col-reverse gap-y-10 md:gap-0 items-center md:items-start md:flex-row justify-between;

  .brand {
    &-logo {
      @apply flex;

      img {
        @apply h-16 lg:h-20;
      }
      .brand-name {
        @apply ml-5;

        p {
          @apply text-white;

          &.big {
            @apply text-2xl lg:text-3xl;
          }

          &.small {
            @apply text-sm lg:text-base;
          }
        }
      }
    }

    &-slogan {
      @apply italic text-center md:text-left text-white text-[10px] mt-2;
    }

    .copyright {
      @apply mt-2 text-sm text-white text-center sm:text-left;
    }
  }

  .quick-links,
  .contact {
    @apply flex flex-col items-center sm:items-start gap-y-2;

    p {
      @apply font-bold text-white text-base lg:text-xl mb-2;
    }

    a {
      @apply text-secondary text-sm lg:text-base;

      &.quick-link {
        @apply font-semibold before:sm:content-["\2022"] before:sm:mr-2;
      }

      &.contact-link {
        @apply flex gap-2;

        svg {
          @apply h-5 lg:h-6;
        }
      }
    }
  }

  .contact {
    @apply flex items-center md:items-start;
  }
}

/** FOOTER END **/

/** SECTIONS **/
/** HERO SECTION **/

section.hero {
  @apply relative overflow-hidden h-[85vh] sm:h-[60vh] lg:h-[95vh];

  img {
    @apply absolute -bottom-14 object-cover  left-0 w-full h-full scale-x-[-1] -z-10;
  }

  .hero-content {
    @apply absolute bottom-0 h-full left-0 w-full mt-auto z-10  flex flex-col justify-end pb-40 md:pb-24 lg:pb-32 bg-gradient-to-t from-[#111111]/50 via-transparent to-transparent;

    .welcome-container {
      span.welcome {
        @apply relative z-20 bg-white px-4 py-2 text-2xl md:text-3xl lg:text-4xl text-primary font-semibold  after:h-full after:w-full after:absolute after:-bottom-1 after:-right-1 after:sm:-bottom-2 after:sm:-right-2 after:border-2 after:border-white;
      }
    }

    h1 {
      @apply text-4xl md:text-5xl lg:text-6xl mt-6 sm:mt-10 mb-4 sm:mb-5 text-white font-bold;
    }
    p.slogan {
      @apply italic text-white text-sm sm:text-base lg:text-lg;
    }
  }
}

/** HERO SECTION END**/

/** INFO SECTION **/

section.info-container {
  @apply bg-ms-light z-20 relative flex mb-14 justify-center;

  .info {
    @apply absolute w-11/12 sm:w-10/12 lg:w-10/12 flex sm:flex-row flex-col -top-32 sm:-top-[44px] lg:-top-16 justify-between rounded-2xl bg-primary px-8 lg:px-12 py-8 sm:py-6 lg:py-8 shadow-md gap-8 sm:gap-10 lg:gap-20;

    .info-item {
      @apply flex  items-center gap-5 sm:gap-3 lg:gap-5 w-full sm:w-1/3;

      svg {
        @apply h-8 sm:h-10 lg:h-16;
      }

      .item-description {
        @apply flex flex-col;

        .info-title {
          @apply text-white text-sm lg:text-lg font-semibold lg:font-bold;
        }
        .info-value {
          @apply text-white text-xs lg:text-base;
        }
      }
    }
  }
}

/** INFO SECTION END**/

/** SERVICES SECTION **/
section.services {
  @apply pb-16 pt-20 lg:py-24 bg-ms-light flex flex-col gap-5 sm:gap-0 sm:flex-row justify-between;

  .service-description {
    @apply w-full sm:w-1/2  sm:pr-4 lg:pr-10;
    h1 {
      @apply text-primary text-3xl lg:text-4xl font-bold;
    }

    p {
      @apply text-ms-dark text-base lg:text-xl my-1;
    }

    .image-container {
      @apply mt-3 sm:mt-0;
      img {
        @apply h-full w-full;
      }
    }
  }

  .service-list {
    @apply w-full sm:w-2/3 lg:w-1/2 grid grid-cols-2 gap-4 lg:gap-10;

    .service {
      @apply flex items-center gap-2 lg:gap-3 p-2 lg:p-5 bg-white rounded shadow-md cursor-pointer hover:shadow-accent/30;
      svg {
        @apply h-10 lg:h-14;
      }

      .service-info {
        p {
          @apply text-ms-dark text-sm lg:text-base;
        }
        span {
          @apply hidden  text-accent sm:flex items-center gap-1 text-xs lg:text-base;

          svg {
            @apply h-5;
          }
        }
      }
    }
  }
}
/** SERVICES SECTION END**/

/** CONTACT SECTION **/
section.contact {
  @apply flex flex-col lg:flex-row justify-between;

  .contact-info {
    @apply w-full lg:w-1/2;

    .info-header {
      @apply h-1/3 flex items-center gap-2 justify-start bg-primary py-10 lg:py-20 pl-5 md:px-10 lg:pl-32;

      h1 {
        @apply text-white text-2xl lg:text-4xl font-bold;
      }

      svg {
        @apply h-6 md:h-10 rotate-90 lg:rotate-0;
      }
    }

    .info-photo {
      @apply h-0 lg:h-2/3 w-full;
    }
  }

  form {
    @apply w-full lg:w-1/2 px-5 py-14 sm:p-20 bg-white lg:pr-32;

    button {
      @apply mt-5 w-full px-8 py-4 lg:py-3 font-semibold uppercase bg-primary hover:shadow-accent/50 hover:shadow-md text-white;
    }
  }
}
/** CONTACT SECTION END**/

/** SECTIONS END**/
